<!DOCTYPE html>

<html>
<head>
    #parse("org/n3r/quartz/glass/velocity/widgets/head.vm")
</head>
<body>
    #parse("org/n3r/quartz/glass/velocity/widgets/menu.vm")

<h1><span>Defined triggers</span></h1>

<div class="table">
    <table>
        <thead>
        <tr>
            <th>#</th>
##            <th>Type</th>
            <th>JobKey</th>
            <th>TriggerKey</th>
            <th>Glass Scheduler</th>
            <th>Explanation</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Last fire</th>
            <th>Next fire</th>
            <th>Pause / Resume</th>
##            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            #set($seq = 0)
            #foreach ($jobAndTriggers in $jobsAndTriggers)
                #set ($job = $jobAndTriggers.jobDetail)
                #foreach ($trigger in $jobAndTriggers.triggers)
                    #set( $seq = $seq + 1 )
                <tr>
                    <td style="text-align: center;">$seq</td>
##                    <td style="text-align: center;">$format.html($trigger.type)</td>
                    <td style="text-align: center;"><a
                            href="$root/jobs/$format.html($job.group)/$format.html($job.name)">$format.descKey($job.key)</a></td>
                    <td style="text-align: center;">$format.html($trigger.triggerKey)</td>
                    <td style="text-align: center;">$trigger.glassScheduler</td>
                    <td style="text-align: center;">$trigger.planification</td>

                    <td style="text-align: center;">
                        $format.date($trigger.startTime)
                        #if ($trigger.running) &nbsp;<span style="color: red;">running</span> #end
                    </td>
                    <td style="text-align: center;">$format.date($trigger.endTime)</td>
                    <td style="text-align: center;">$format.date($trigger.previousFireTime)</td>
                    <td style="text-align: center;">$format.date($trigger.nextFireTime)</td>
                    <td style="text-align: center;">
                        #if ($trigger.paused)
                            <a onclick="javascript:return(confirm('Are you sure you want to resume ?'));"
                               href="$root/jobs/$format.html($job.group)/$format.html($job.name)/triggers/$format.html($trigger.group)/$format.html($trigger.name)/resume?redirect=$current"
                               title="resume">
                                <img alt="delete" src="$root/image/start.png"/>
                            </a>
                        #else
                            <a onclick="javascript:return(confirm('Are you sure you want to pause ?'));"
                               href="$root/jobs/$format.html($job.group)/$format.html($job.name)/triggers/$format.html($trigger.group)/$format.html($trigger.name)/pause?redirect=$current"
                               title="pause">
                                <img alt="delete" src="$root/image/pause.png"/>
                            </a>
                        #end
                    </td>
                    <td style="text-align: center;">
                        <a onclick="javascript:return(confirm('Are you sure you want to delete ?'));"
                           href="$root/jobs/$format.html($job.group)/$format.html($job.name)/triggers/$format.html($trigger.group)/$format.html($trigger.name)/delete?redirect=$current"
                           title="delete">
                            <img alt="delete" src="$root/image/delete.png"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="11">
                        <span class="code">$format.dataMap($trigger.dataMap)</span>
                    </td>
                </tr>
                #end
            #end
        </tbody>
    </table>
</div>

    #parse("org/n3r/quartz/glass/velocity/widgets/footer.vm")
</body>
</html>