#macro (history $heading $title $items)
<$heading><span>$title</span></$heading>
<div class="table">
    <table>
        <thead>
        <tr>
            <th>JobKey</th>
            <th>TriggerKey</th>
            <th>Start</th>
            <th>End</th>
            <th>Job class</th>
            <th>DataMap</th>
        </tr>
        </thead>
        <tbody>
            #foreach ($log in $items)
            <tr>
                <td style="text-align: center">
                    <a class="${log.result}" href="$root/jobs/$format.html($log.jobGroup)/$format.html($log.jobName)">
                        <span>$format.html($log.jobKey)</span>
                    </a>
                </td>
                <td style="text-align: center">$!format.html($log.triggerKey)</td>
                <td style="text-align: center;">$!format.date(${log.startDate})</td>
                <td style="text-align: center;">
                    #if ($log.ended)
                        $!format.date(${log.endDate})
                        #if ($log.result == 'ERROR')
                            <span style="color: red;">failed</span>
                        #end
                    #else
                        <span style="color: red;">running</span>
                    #end
                </td>
                <td>$!log.jobClass</td>
                <td>$!log.dataMap</td>

            </tr>
            <tr>
                <td colspan="8">
                    <div class="innertab-title">logs</div>
                    <div class="innertab-content">
                        <a href="#logs-${log.id}-link" id="logs-${log.id}-link"
                           onclick="showLogs('$log.id');return false;">view logs</a>

                        <div id="logs-$log.id" style="display:none">
                            reading logs...
                        </div>
                    </div>
                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>
#end